<div class="line">
  <div class="lastUnit size1of1">
    <h3>Recipes and options</h3>
  </div>
</div>

<div class="line">
  <div class="lastGroup size1of1">
    <div class="bordered bordered--top selfclear">
      <div class="group size1of2">
        <div class="field-wrap">
          <label for="">Recipe</label>
          <div class="select-wrap">
            <select>
              <option value="volvo">Tasty Turkey Fare</option>
              <option value="saab">Heartland Beef Mash</option>
              <option value="mercedes">Something Fishy</option>
            </select>
            <span class="icon fa fa-chevron-down"></span>
          </div>
        </div>
      </div>

      <div class="lastUnit size1of2">
        <p class="pad--t24">Lean ground beef, carrots, spinach, brown rice, and our Nom Nutrient Blend.</p>
      </div>
    </div>
  </div>
</div>


<div class="line">
  <div class="lastGroup size1of1">
    <div class="bordered selfclear">
      <div class="group size1of2">
        
        <div class="field-wrap field-wrap--with-button">
          <label for="">Choose meal portion</label>
          <div class="fake-input">
            2 and 3/8 cups per meal
            <span class="button-group">
              <a href="" ng-click="showChange()" class="button pri1 fa fa-minus f--small"></a>
              <a href="" ng-click="showChange()" class="button pri1 fa fa-plus f--small"></a>
            </span>
          </div>
        </div>
      </div>

      <div class="lastUnit size1of2">
        <p class="pad--t24"><a href="">Use the recommended meal size</a> based on Hannah’s weight and activity.</p>
      </div>

      <div class="line">
        <div class="lastGroup size1of1">  
          <div id="meal" class="notice notice--info">
            <p><strong>Pending meal change:</strong>Hannah would now eat 1/4 cups more each meal.</p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>


<div class="line below--36">
  <div class="lastGroup size1of1">
    <div class="bordered selfclear">
      <div class="group size1of2">
        
        <label class="checkbox">
          <input type="checkbox" class="checkbox__option-input" checked />
          <span>Mornings</span>
          <p class="description">Make sure this is checked if you’re feeding Hannah NomNomNow for breakfast.</p>
        </label>

      </div>

      <div class="lastUnit size1of2">
          
        <label class="checkbox">
          <input type="checkbox" class="checkbox__option-input" checked />
          <span>Evenings</span>
          <p class="description">Make sure this is checked if you’re feeding Hannah NomNomNow for dinner.</p>
        </label>

      </div>
    </div>
  </div>
</div>

<div class="line below--60">
  <div class="lastUnit size1of1">
    
    <div class="rounded-box">
      <span class="f--small f--reg">Hannah’s current subscription total</span>
      <span class="f--small f--reg float--right">$46.54</span>
    </div>

  </div>
</div>

<div class="line">
  <div class="lastUnit size1of1">
    <h3>Cancel subscription</h3>
  </div>
</div>

<div class="line">
  <div class="lastUnit size1of1">
    <p>We’ll sincerely miss cooking for your beautiful pooch. But if you’re sure, you can <a class="f--warn" href="">cancel Hannah’s weekly subscription</a>.</p>
  </div>
</div>














