/*****************************************/
/* MAIN NAVIGATION */
/*****************************************/
.nav-main {
  background-color: #fafafa;
  height: 72px;
  z-index: 50
  ;  
}

.nav-main--fixed-wrap {
  position: fixed;
  width: 100%;
  outline: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
}

.nav-main li {
  font-size: 14px;
  line-height: 72px;
  font-weight: 400;
}

.nav-main-link {
  cursor: pointer;
  /*-ms-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;*/
}

.nav-main-link:hover {
  background-color: #eee;
}

/*.nav-main .selected:after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 15px;
  left: 15px;
  border-bottom: 2px solid #d0d0d0;
}*/

.nav-main-link:hover a {
  color: #545050;  
  /*-ms-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;*/
}



/*****************************************/
/* LOCAL (IN-PAGE) NAVIGATION */
/*****************************************/
.nav-local {
  display: block;
  border-top: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
  margin-bottom: 50px;
}
.nav-local:before,
.nav-local:after {
    content:" ";
    display:table
}
.nav-local:after {
    clear:both
}

.nav-local li {
  /*padding-bottom: 15px;*/
  position: relative;
  float: left;
  padding-right: 40px;
  font-weight: 400;
  font-size: 16px;
}

/*.nav-local li:first-child {
  padding-left: 0;
}*/

.nav-local-link {
  cursor: pointer;
}

.nav-local-link a {
  color: #545050;
  padding-bottom: 12px;
  padding-top: 12px;
}
.nav-local-link a:hover,
.nav-local-link a.selected {
  color: #45CEBD;
}

.nav-local .selected:after {
  position: absolute;
  content: "";
  bottom: -1px;
  right: 40px;
  left: 0px;
  border-bottom: 2px solid #45CEBD;
}
