/*****************************************/
/* GENERAL */
/*****************************************/

li > a {
  display: block;
  line-height: inherit; 
  height: inherit; 
}



/*****************************************/
/* TILES */
/*****************************************/

.tiles {
  
}

.tiles li {
  overflow: hidden;
  border-top: 1px solid #E2E2E2;
  padding: 20px 0;
}

.tiles li h4 {
  margin: 0 0 4px 0;
  line-height: 20px;
}

.tiles li p {
  margin: 4px 0 0 0;
}

.tile-image {
  margin-right: 20px;
  float: left;
}

/*.tiles--standard li {
  padding: 20px 0;
}*/

.tiles--large li {
  padding: 30px 0;
}

.tiles--light li {
  border-top: 1px dotted #E2E2E2;
}

.tile, .tile-body {
  overflow: hidden;
}



/*****************************************/
/* STANDARD (VERT ALIGNED) LIST */
/*****************************************/

.list--standard li {
  border-radius: 2px;
  cursor: pointer;
}

.list--standard li.selected {
  background-color: #CCECE8;
}

.list--standard li:hover:not(.selected) {
  background-color: #EAEAEA;
}

.list--standard > li a {
  padding: 10px;
  margin-bottom: 10px;
  color: #545050;
}



/*****************************************/
/* LINEAR (HORIZ ALIGNED) LIST */
/*****************************************/

.list--linear {
  display: block
}
.list--linear > li {
  float: left
}
.list--linear > li:first-child {
  padding-left: 0;
  margin-left: 0;
  border-left: 0 none
}



/*****************************************/
/* BORDERED (VERT ALIGNED) LIST */
/*****************************************/

.list--bordered {
  display: block 
}

.list--bordered > li {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #E2E2E2;
}
.list--bordered:before,
.list--bordered:after {
    content:" ";
    display:table
}
.list--bordered:after {
    clear:both
}

.list--bordered > li:first-child {
  border-top: 1px solid #E2E2E2;
}

.list--bordered > li > div {
  padding: 0;
}



/*****************************************/
/* LEAD STATS (VERT ALIGN) LIST */
/*****************************************/

.list--lead-stats {
  margin-bottom: 30px;
}

.list--lead-stats > li {
  border-bottom: 1px dashed #E0E0E0;
  padding-bottom: 4px;
  margin-bottom: 10px;
}

.list--lead-stats .start,
.list--lead-stats .end {
  border-bottom: 1px solid #FFF;
}

.list--lead-stats .start {
  padding-right: 12px;
}

.list--lead-stats .end {
  padding-left: 12px;
}



