
/*****************************************/
/* PAGE CONTAINERS */
/*****************************************/
.container--wide {
  max-width: 800px;
  margin: 0 auto;
}



/*****************************************/
/* GRID SYSTEM, UNITS, GROUPS */
/*****************************************/
.line {
  zoom: 1
}
.line:before,
.line:after {
  content: " ";
  display: table
}
.line:after {
  clear: both
}

.line--bordered {
  border-top: 1px solid #E2E2E2;
  margin-bottom: 30px;
}

.group,
.lastGroup,
.lastUnit,
.unit {
  overflow: hidden;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  float: left
}

.lastUnit,
.unit {
  padding-left: 15px;
  padding-right: 15px
}
.lastUnit,
.lastGroup {
  float: none;
  width: auto
}

.lastUnit .unit__topBorder,
.unit .unit__topBorder {
  padding-top: 30px;
  border-top: 1px solid #E2E2E2;
}

.lastUnit .unit__bottomBorder,
.unit .unit__bottomBorder {
  margin-bottom: 30px;
  border-bottom: 1px solid #E2E2E2;
}

.lastGroup .group__topBorder,
.group .group__topBorder {
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 30px;
  border-top: 1px solid #E2E2E2;
}

.lastGroup .group__bottomBorder,
.group .group__bottomBorder {
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid #E2E2E2;
  margin-bottom: 30px;
}

.size8of8 {
  width: 100%
}
.size7of8 {
  width: 87.5%
}
.size6of8 {
  width: 75%
}
.size5of8 {
  width: 62.5%
}
.size4of8 {
  width: 50%
}
.size3of8 {
  width: 37.5%
}
.size2of8 {
  width: 25%
}
.size1of8 {
  width: 12.5%
}
.size4of4 {
  width: 100%
}
.size3of4 {
  width: 75%
}
.size2of4 {
  width: 50%
}
.size1of4 {
  width: 25%
}
.size2of2 {
  width: 100%
}
.size1of2 {
  width: 50%
}
.size3of3 {
  width: 100%
}
.size2of3 {
  width: 66.66666667%
}
.size1of3 {
  width: 33.33333333%
}
.size1of1 {
  width: 100%
}

@media screen and (max-width: 960px) {
  .size1of2,
  .size1of3,
  .size1of4,
  .size2of3,
  .size2of4,
  .size3of4,
  .size3of8,
  .size4of8,
  .size5of8,
  .size7of8 {
    width: 100%
  }
  .size1of8 {
    width: 50%
  }
  .size1of2.nochange {
    width: 50%
  }
  .size1of3.nochange {
    width: 33.33333333%
  }
}
@media screen and (max-width: 640px) {
  .unit,
  .group {
    float: none;
    display: block
  }
  .nochange {
    float: left
  }
  .size2of8,
  .size6of8 {
    width: 100%
  }
}
