/*****************************************/
/* GENERAL */
/*****************************************/

li > a {
  display: block;
  line-height: inherit; 
  height: inherit; 
}



/*****************************************/
/* TILES */
/*****************************************/

.tile-list {
  
}

.tile-list li {
  overflow: hidden;
  border-top: 1px solid #E2E2E2;
  padding: 20px 0;
}

.tile-list li h4 {
  margin: 0 0 4px 0;
  line-height: 20px;
}

.tile-list li p {
  margin: 4px 0 0 0;
}

.tile__image {
  margin-right: 20px;
  float: left;
}

.tile, .tile__body {
  overflow: hidden;
}

.tile-list--large li {
  padding: 30px 0;
}

.tile-list--border-light li {
  border-top: 1px dotted #E2E2E2;
}


/*****************************************/
/* STANDARD LINKS (VERT ALIGNED) LIST */
/*****************************************/

.standard-list li {
  border-radius: 2px;
  cursor: pointer;
}

.standard-list li.selected {
  background-color: #CCECE8;
}

.standard-list li:hover:not(.selected) {
  background-color: #EAEAEA;
}

.standard-list > li a {
  padding: 10px;
  margin-bottom: 10px;
  color: #545050;
}



/*****************************************/
/* LINEAR (HORIZ ALIGNED) LIST */
/*****************************************/

.linear-list {
  display: block
}
.linear-list:before,
.linear-list:after {
    content:" ";
    display:table
}
.linear-list:after {
    clear:both
}

.linear-list > li {
  float: left;
}

.linear-list > li:hover {
  text-decoration: underline;
}

.linear-list > li:first-child a {
  padding-left: 0;
}



/*****************************************/
/* BORDERED (VERT ALIGNED) LIST */
/*****************************************/

.bordered-list {
  display: block 
}
.bordered-list:before,
.bordered-list:after {
    content:" ";
    display:table
}
.bordered-list:after {
    clear:both
}

.bordered-list > li {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #E2E2E2;
}

.bordered-list > li:first-child {
  border-top: 1px solid #E2E2E2;
}

.bordered-list > li > div {
  padding: 0;
}



/*****************************************/
/* STATS (VERT ALIGN) LIST */
/*****************************************/

.stats-list {
  margin-bottom: 30px;
}

.stats-list > li {
  border-bottom: 1px dashed #E0E0E0;
  padding-bottom: 4px;
  margin-bottom: 10px;
}

.stats-list .start,
.stats-list .end {
  border-bottom: 1px solid #FFF;
}

.stats-list .start {
  padding-right: 12px;
}

.stats-list .end {
  padding-left: 12px;
}



