/*****************************************/
/* MAIN NAVIGATION */
/*****************************************/
.nav-main {
  background-color: #f7f7f7;
  height: 72px;
  position: relative;
  z-index: 50;  
}

.nav-main__fixed-wrap {
  position: fixed;
  width: 100%;
  outline: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  background-color: #f7f7f7;
  border-bottom: 1px solid #e8e8e8;
}

.nav-main li {
  font-size: 14px;
  line-height: 72px;
  font-weight: 400;
}

.nav-main li.float--right {
  float: right;
}

.nav-main__link {
  cursor: pointer;
  position: relative;
  /*-ms-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;*/
}

.nav-main__link:hover {
  background-color: #eee;
}

.nav-main .selected:after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 15px;
  left: 15px;
  /*border-bottom: 2px solid #E2E2E2;*/
  border-bottom: 2px solid #45CEBD;
}

.nav-main__link a {
  color: #ADADAD;
}

.nav-main__link:hover a {
  color: #545050;  
  /*-ms-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;*/
}

.nav-main__link.selected a {
  /*color: #5B5E61;*/
  color: #45CEBD;
}

.nav-main__link a .icon--inline {
  font-size: 10px;
  margin-left: 8px; 
}

.nav-main .linear-list li:hover {
  text-decoration: none;
}


/*****************************************/
/* LOCAL (IN-PAGE) NAVIGATION */
/*****************************************/
.nav-local {
  display: block;
  border-bottom: 1px solid #E2E2E2;
  margin-bottom: 50px;
}
.nav-local:before,
.nav-local:after {
    content:" ";
    display:table
}
.nav-local:after {
    clear:both
}

.nav-local li {
  /*padding-bottom: 15px;*/
  position: relative;
  float: left;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
}

/*.nav-local li:first-child {
  padding-left: 0;
}*/

.nav-local__link {
  cursor: pointer;
}

.nav-local__link a {
  /*color: #545050;*/
  color: #5B5E61;
  padding-bottom: 12px;
  padding-top: 12px;
}
.nav-local__link a:hover,
.nav-local__link a.selected {
  color: #45CEBD;
}

.nav-local .selected:after {
  position: absolute;
  content: "";
  bottom: -1px;
  right: 30px;
  left: 0px;
  border-bottom: 1px solid #45CEBD;
}
