/*****************************************/
/* TYPOGRAPHY */
/*****************************************/
h1 {
  font-size: 34px;
  margin-bottom: 60px;
}
/*
h2 {
  font-size: 28px;
  margin-bottom: 36px;
}
*/
h3 {
  font-size: 24px;
  margin-bottom: 42px;
}

h4 {
  font-size: 18px;
  margin-bottom: 18px;
}

p {
  line-height: 1.7em;
  font-size: 15px;
  max-width: 625px;
  margin-bottom: 10px;
}

p + .bordered-list {
  margin-top: 10px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #45CEBD;
}

strong {
  font-weight: 400;
}

code,
xmp.code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: #EFEFEF;
  border-radius: 0;
  font-family: 'Inconsolata', "Courier New", monospace;
  padding: 2px 4px;
  color: #c7254e;
  border-radius: 4px;
}

xmp.code {
  font-size: 90%;
}



/*****************************************/
/* TYPOGRAPHY UTILS */
/*****************************************/
.f--small {
  font-size: 13px;
}

.f--bold {
  font-weight: 900;
}

.f--reg {
  font-weight: 400;
}

.f--dim {
  color: #8C9196;
}

.f--warn {
  color: #EA4343;
}

.el--dim {
  opacity: .75 !important;
}

.align--center {
  text-align: center;
}

