/*****************************************/
/* SPACING */
/*****************************************/

/* Bottom margin */
.below--6 {
  margin-bottom: 6px !important;
}

.below--12 {
  margin-bottom: 12px !important;
}

.below--18 {
  margin-bottom: 18px !important;
}

.below--24 {
  margin-bottom: 24px !important;
}

.below--30 {
  margin-bottom: 30px !important;
}

.below--36 {
  margin-bottom: 36px !important;
}

.below--42 {
  margin-bottom: 42px !important;
}

.below--48 {
  margin-bottom: 48px !important;
}

.below--54 {
  margin-bottom: 54px !important;
}

.below--60 {
  margin-bottom: 60px !important; 
}

.below--72 {
  margin-bottom: 72px !important; 
}

/* Padding */
.pad__main-page {
  padding-top: 72px;
  padding-bottom: 72px;
}

.pad__signup-flow {
  padding-top: 42px;
  padding-bottom: 72px;
}

.pad--lev1 {
  padding: 12px;
}

.pad--lev2 {
  padding: 18px;
}

.pad--lev3 {
  padding: 24px;
}

.pad--lev4 {
  padding: 30px;
}

.pad--lev5 {
  padding: 36px;
}

.pad--lev6 {
  padding: 42px;
}

.pad--0 {
  padding: 0 !important;
}

.pad--l0 {
  padding-left: 0 !important;
}

.pad--l24 {
  padding-left: 24px;  
}

.pad--r0 {
  padding-right: 0 !important;
}

.pad--tb0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.pad--t12 {
  padding-top: 12px !important;
}

.pad--t24 {
  padding-top: 24px !important;
}

.pad--b6 {
  padding-bottom: 6px !important;
}

.pad--b12 {
  padding-bottom: 12px !important;
}

.pad--b24 {
  padding-bottom: 24px !important;
}

.pad--b36 {
  padding-bottom: 36px !important;
}

.pad--b54 {
  padding-bottom: 54px !important;
}

.pad--b60 {
  padding-bottom: 60px !important;
}

.pad--b72 {
  padding-bottom: 72px !important;
}



/*****************************************/
/* POSITIONING */
/*****************************************/
.center--h {
  float:none;
  margin-left:auto;
  margin-right:auto
}

.center--v {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}

.full--width {
  width: 100%;
  max-width: 100%;
}

.full--height {
  height: 100%;
}

.invisible {
  visibility:hidden
}

.visible {
  visibility:visible !important
}

.clear {
  clear:both
}

.selfclear:before,
.selfclear:after {
  content:" ";
  display:table
}
.selfclear:after {
  clear:both
}

.clear--right {
  clear:right
}

.clear--left {
  clear:left
}

.float--left {
  float:left
}

.float--right {
  float:right
}

.nofloat {
  float:none !important
}

.block {
  display: block !important;
}

.inline {
  display: inline-block !important;
}

.nomargin {
  margin: 0 !important;
}



/*****************************************/
/* COLORING */
/*****************************************/


.fill--lightgray {
  background-color: #E0E0E0;
}

.fill--success {
  background-color: #45CEBD;
  color: #FFF;
}

.fill--light {
  background-color: #FFF;
}



/*****************************************/
/* SHAPES */
/*****************************************/

.noround {
  border-radius: 0px;
}

.noround--tr {
  -webkit-border-top-right-radius: 0px !important;
  -moz-border-radius-topright: 0px !important;
  border-top-right-radius: 0px !important;
}

.noround--tl {
  -webkit-border-top-left-radius: 0px !important;
  -moz-border-radius-topleft: 0px !important;
  border-top-left-radius: 0px !important;
}

.noround--bl {
  -webkit-border-bottom-left-radius: 0px !important;
  -moz-border-radius-bottomleft: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.noround--br {
  -webkit-border-bottom-right-radius: 0px !important;
  -moz-border-radius-bottomright: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.noborder {
  border: none !important;
}

.noborder--top {
  border-top: none !important; 
}

.border__left--med {
  border-left: 2px solid #BDBDBD;
}

.border__bottom--light {
  border-bottom: 1px solid #E2E2E2;
}

.border__bottom--dotted {
  border-bottom: 1px dotted #D8D8D8;
}
